<%= render "shared/second-header"%>

 <div class="item-show">
   <div class="item-box">
        <h2 class="name">
          <%= @user.nickname %>のマイページ
        </h2>
        <div class="item-price-box">
          <span class="item-postage">
          登録情報
          </span>
        </div>
      
        <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-item">カード番号</th>
            <td class="detail-value"><%= "**** **** **** " + @card[:last4] %></td>
          </tr>
          <tr>
            <th class="detail-item">有効期限</th>
            <td class="detail-value"><%= @card[:exp_month] %>/<%= @card[:exp_year] %></td>
          </tr>
          <tr>
            <th class="detail-item"> ニックネーム </th>
            <td class="detail-value"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="detail-item"> メールアドレス </th>
            <td class="detail-value"><%= @user.email %></td>
          </tr>
          <tr>
            <th class="detail-item"> お名前 </th>
            <td class="detail-value"><%= @user.first_name %><%= @user.last_name %></td>
          </tr>
          <tr>
            <th class="detail-item"> 生年月日 </th>
            <td class="detail-value"><%= @user.birthday %></td>
          </tr>
          <tr>
            <th class="detail-item"> 郵便番号 </th>
            <td class="detail-value"><%= @address.postal_code %></td>
          </tr>
          <tr>
            <th class="detail-item"> 住所1 </th>
            <td class="detail-value"><%= @address.city %></td>
          </tr>
          <tr>
            <th class="detail-item"> 住所2 </th>
            <td class="detail-value"><%= @address.address %></td>
          </tr>
          <tr>
            <th class="detail-item"> 住所３ </th>
            <td class="detail-value">
            <% if ShippingAddress.where(user_id: @user.id).present?  %>
            <%= @address.building_name %>
            <%end%>
            </td>
          </tr>
          <tr>
            <th class="detail-item"> 電話番号 </th>
            <td class="detail-value"><%= @address.phone_number %></td>
          </tr>
          </table>
        </tbody>

        <%= link_to '会員情報を編集する', edit_user_registration_path, class:"item-red-btn" %>
        <%= link_to '登録住所を編集する',  edit_addresses_path, class:"item-red-btn" %>
        <%=link_to 'もどる', root_path, class:"back-btn" %>
  </div>
</div>
<%= render "shared/second-footer"%>