<%= render "shared/second-header"%>
 <%# <% breadcrumb :new_item_purchase %> 
<div class='transaction-contents'>
  <div class='transaction-main'>
    <h1 class='transaction-title-text'>
      購入内容の確認
    </h1>
    
    <div class='buy-item-info'>
        <% @item.images.each do |image| %>
     <%= image_tag(image, class: 'buy-item-img') %>
      <% end %>
      <div class='buy-item-right-content'>
        <h2 class='buy-item-text'>
          <%= @item.description %>
        </h2>
        <div class='buy-item-price'>
          <p class='item-price-text'>¥<%= @item.price %></p>
          <p class='item-price-sub-text'>（税込）<%= @item.shipping_fee_burden.name %></p>
        </div>
      </div>
    </div>

    <div class='item-payment'>
      <h1 class='item-payment-title'>
        支払金額
      </h1>
      <p class='item-payment-price'>
        ¥<%= @item.price %>
      </p>
    </div>

    <%= form_with model: @purchase, url: item_purchases_path, local: true do |f| %>
    <%= render 'shared/error_messages', model: @purchase %> 
   

   <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">「購入」ボタンを押すと購入が確定します。</label>
      </div>
         </div>
    <div class='buy-btn'>
      <%= f.submit "購入" , class:"buy-red-btn" %>
    </div>
    <% end %>
  </div>
</div>

<%= render "shared/second-footer"%>