<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>

    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
          
      </button>
    </form>
  </div>
    <%= search_form_for @p, url: items_item_search_path do |f| %>
    <%= f.label :name_eq, '商品名' %>
    <%= f.collection_select :name_eq, @item_name, :name, :name,  include_blank: '指定なし' %>
    <br>
    <%= f.label :description_eq, 'コメント' %>
    <%= f.collection_select :description_eq, @item_description, :description, :description,  include_blank: '指定なし' %>
    <br>
    <%= f.label :category_id_eq, 'カテゴリー' %>
    <%= f.collection_select :category_id_eq, Category.all, :id, :name,  include_blank: '指定なし' %>
    <br>
    <%= f.label :status_id_eq, '状態' %>
    <%= f.collection_select :status_id_eq, Status.all, :id, :name,  include_blank: '指定なし' %>
    <br>
    <%= f.label :price_eq, '値段' %>
    <%= f.collection_select :price_eq, @item_price, :price, :price,  include_blank: '指定なし' %>
    <br>
    <%= f.label :shipping_area_id_eq, '都道府県' %>
    <%= f.collection_select :shipping_area_id_eq, ShippingArea.all, :id, :name,  include_blank: '指定なし' %>
    <br>
    <%= f.label :shipping_fee_burden_id_eq, '送料' %>
    <%= f.collection_select :shipping_fee_burden_id_eq, ShippingFeeBurden.all, :id, :name,  include_blank: '指定なし' %>
    <br>
    <%= f.label :days_to_ship_id_eq, '配送日数' %>
    <%= f.collection_select :days_to_ship_id_eq, DaysToShip.all, :id, :name,  include_blank: '指定なし' %>
    <br>
    <%= f.submit '検索' %>
    <% end %>
    
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'カテゴリー', "#", class: "category-list" %></li>
      <li><%= link_to 'ブランド', "#", class: "brand-list" %></li>
    </ul>
    <ul class='lists-right'>
       <% if user_signed_in? %>
      <li><%= link_to current_user.nickname+"(マイページへ)", user_path(current_user), class: "user-nickname" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
       <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>
